#demo{
  background-image:url("vck.png") ;
  color:black;

}
#demo2{
  background-image:url("vck.png") ;
  color:black;

}
button {
  background-image:url("vck.png") ;
  color:black;
  background-color: green;
}